<div fxLayout="column" fxFlex >
  <md-toolbar color="primary">
    <button (click)="sideNav.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <span>NgxSpringStarter</span>
    <span fxFlex></span>
    <button md-icon-button>
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav #sideNav mode="side" opened>
      <md-nav-list>
        <md-list-item *ngFor="let menu of menus" [routerLink]="menu.routerLink">
          <md-icon >{{menu.icon}}</md-icon>
          <span>{{menu.name}}</span>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
